body {
    font-size: 23px;
}
span {
    font-size: 1.5em;
}

.column > h3 { 
    font-size: 0.7em;
}

.column > h4 {
    font-size: 0.6em;
}

.row {
  display: flex;
}

.column {
  flex: 30%;
}

.column2 {
    flex: 20%;
}

.mathedit {
    margin-left: 20px;
}

.ref li, a {
    font-size: 12px;
}

#preview {
    font-size: 20px;
    background-color: rgba(100, 100, 100, .2)
}