body {
    font-size: 23px;
}
span {
    font-size: 0.9em;
}

.copy-img {
    height: 1em;
    margin-top: -3px;
    position: relative;
    top: 3px;
}

span#latex {
    font-size: 0.6em
}

.column > h3 { 
    font-size: 0.7em;
}

.column > h4 {
    font-size: 0.6em;
}

.row {
  display: flex;
}

.column {
  flex: 30%;
}

.column2 {
    flex: 20%;
}

.mathedit {
    margin-left: 20px;
}

.ref li, a {
    font-size: 12px;
}

#preview {
    font-size: 20px;
    background-color: rgba(100, 100, 100, .2);
    max-height: 45%;
    overflow-y: scroll;
}

#preview span.katex span {
    line-height: 1.1em;
    font-size: 0.96em;
}

textarea {
    width: 100%;
    height: 45%;
}